@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyfMZg.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fMZg.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYMZg.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.hidden {
  display: none !important;
}

.login_page,
.registration_page {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/bydSalon.jpg") center center / cover;
  width: 100%;
  height: 100vh;
}

.login-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.login-wrapper .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.login-wrapper .login img {
  margin-bottom: 50px;
  border-radius: 10px;
  width: 350px;
  height: 95px;
  -o-object-fit: cover;
  object-fit: cover;
}

.login-wrapper .login .form-wrapper {
  border-radius: 10px;
  background-color: #222324db;
  padding: 40px 20px 60px 20px;
}

.login-wrapper .login .form-wrapper h2 {
  width: 100%;
  text-align: center;
  font-size: 36px;
  color: white;
  font-weight: 700;
  margin-bottom: 35px;
}

.login-wrapper .login .form-wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.login-wrapper .login .form-wrapper form input,
.login-wrapper .login .form-wrapper form button {
  margin-bottom: 30px;
  min-width: 466px;
  height: 60px;
  border-radius: 10px;
  background: #3d4858c8;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.login-wrapper .login .form-wrapper form input::-webkit-input-placeholder, .login-wrapper .login .form-wrapper form button::-webkit-input-placeholder {
  color: #a5a5a5;
  font-size: 20px;
  font-weight: 400;
}

.login-wrapper .login .form-wrapper form input::-moz-placeholder, .login-wrapper .login .form-wrapper form button::-moz-placeholder {
  color: #a5a5a5;
  font-size: 20px;
  font-weight: 400;
}

.login-wrapper .login .form-wrapper form input:-ms-input-placeholder, .login-wrapper .login .form-wrapper form button:-ms-input-placeholder {
  color: #a5a5a5;
  font-size: 20px;
  font-weight: 400;
}

.login-wrapper .login .form-wrapper form input::-ms-input-placeholder, .login-wrapper .login .form-wrapper form button::-ms-input-placeholder {
  color: #a5a5a5;
  font-size: 20px;
  font-weight: 400;
}

.login-wrapper .login .form-wrapper form input::placeholder,
.login-wrapper .login .form-wrapper form button::placeholder {
  color: #a5a5a5;
  font-size: 20px;
  font-weight: 400;
}

.login-wrapper .login .form-wrapper form button {
  margin-top: 20px;
}

.login-wrapper .login .form-wrapper form .registrate_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.login-wrapper .login .form-wrapper form .registrate_btns div {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.login-wrapper .login .form-wrapper form .registrate_btns div:hover {
  text-decoration: underline;
}

.login-wrapper .login .form-wrapper form button:hover {
  cursor: pointer;
  background: #2e3c4c;
}

.registration_page .login-wrapper .login .form-wrapper form input {
  width: 49% !important;
  min-width: 0 !important;
}

.registration_page .registrate_inputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body {
  position: relative;
  width: 100%;
}

body #new-sertificate,
body #transfer {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #00000049;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body #new-sertificate .form,
body #transfer .form {
  -webkit-box-shadow: 0 25px 50px -12px #1f293725;
  box-shadow: 0 25px 50px -12px #1f293725;
  border-radius: 5px;
  width: 420px;
  padding: 30px 20px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

body #new-sertificate .form .form_heading,
body #transfer .form .form_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}

body #new-sertificate .form .form_heading .heading,
body #transfer .form .form_heading .heading {
  font-size: 18px;
  font-weight: 600;
  color: #374151;
  margin-right: auto;
}

body #new-sertificate .form .form_heading .close_btn,
body #transfer .form .form_heading .close_btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

body #new-sertificate .form .form_heading .close_btn::before,
body #transfer .form .form_heading .close_btn::before,
body #new-sertificate .form .form_heading .close_btn::after,
body #transfer .form .form_heading .close_btn::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background: #374151;
  top: 50%;
  right: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

body #new-sertificate .form .form_heading .close_btn::after,
body #transfer .form .form_heading .close_btn::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

body #new-sertificate .form .input_label,
body #transfer .form .input_label {
  font-size: 14;
  font-weight: 600;
  color: #6B7280;
  margin-bottom: 8px;
}

body #new-sertificate .form input,
body #transfer .form input {
  border-radius: 5px;
  border: 2px #5e5e5e30 solid;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}

body #new-sertificate .form #submit_new_sertificate,
body #transfer .form #submit_new_sertificate,
body #new-sertificate .form #submit_transfer,
body #transfer .form #submit_transfer {
  width: 100%;
  height: 44px;
  border: 2px #5e5e5e30 solid;
  outline: none;
  color: #ffffff;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  background: #252C35;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

body #new-sertificate .form #submit_new_sertificate:hover,
body #transfer .form #submit_new_sertificate:hover,
body #new-sertificate .form #submit_transfer:hover,
body #transfer .form #submit_transfer:hover {
  background: #ffffff;
  color: #374151;
}

.container {
  margin: 0 auto;
  padding: 50px 0;
  max-width: 1235px;
}

.container .heading {
  width: 100%;
  margin-bottom: 40px;
}

.container .heading h1 {
  text-align: left;
  font-weight: 600;
  font-size: 36px;
}

.container .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px;
}

.container .buttons .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container .buttons .filters .search {
  font-size: 18px;
  color: #0000009e;
  padding: 10px;
  border: 2px #5e5e5e30 solid;
  border-radius: 5px;
  height: 44px;
  width: 300px;
  outline: none;
}

.container .buttons .filters .search::-webkit-input-placeholder {
  color: #b3b3b3;
}

.container .buttons .filters .search::-moz-placeholder {
  color: #b3b3b3;
}

.container .buttons .filters .search:-ms-input-placeholder {
  color: #b3b3b3;
}

.container .buttons .filters .search::-ms-input-placeholder {
  color: #b3b3b3;
}

.container .buttons .filters .search::placeholder {
  color: #b3b3b3;
}

.container .buttons .filters select {
  width: 100px;
  margin-left: 10px;
  height: 44px;
  border: 2px #5e5e5e30 solid;
  outline: none;
  color: #0000009e;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../img/down-arrow.svg");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}

.container .buttons .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container .buttons .actions button {
  height: 44px;
  border: 2px #5e5e5e30 solid;
  outline: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 18px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ffffff;
  background: #252C35;
}

.container .buttons .actions button:hover {
  background: #ffffff;
  color: black;
}

.container .buttons .actions .transfer {
  width: 110px;
  margin-right: 10px;
}

.container .buttons .actions .newSertificate {
  width: 200px;
  cursor: pointer;
}

.container .buttons .actions #logout {
  width: 110px;
  cursor: pointer;
  margin-left: 10px;
}

.container .table {
  width: 100%;
}

.container .table table {
  width: 100%;
}

.container .table table input[type="checkbox"] {
  width: 25px;
  height: 25px;
  border-color: #D1D5DB;
  border-radius: 5px;
}

.container .table table th:nth-child(1) {
  margin-right: 15px;
  width: 50px;
  padding: 8px;
  background: #f3f2f2;
  border-radius: 5px;
}

.container .table table th:nth-child(1) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container .table table .thtable {
  text-align: left;
  padding-left: 40px;
  cursor: pointer;
}

.container .table table .thtable div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 15px;
  background: #f6f6f6;
  font-size: 16px;
  font-weight: 600;
  color: #6B7280;
  height: 50px;
  width: 100%;
  border-radius: 5px;
}

.container .table table .thtable div img {
  padding-top: 5px;
  margin-left: 8px;
}

.container .table table th:nth-child(4) {
  padding: 0 40px;
}

.container .table table th:nth-child(5) {
  width: 50px;
  padding: 8px;
  background: #282F39;
  border-radius: 5px;
}

.container .table table th:nth-child(5) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container .table table tr td:nth-child(1) {
  width: 50px;
  padding: 8px;
  border-radius: 5px 0 0 5px;
}

.container .table table tr td:nth-child(1) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container .table table tr .tdtable {
  text-align: left;
  padding-left: 40px;
}

.container .table table tr .tdtable div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #6B7280;
  height: 50px;
  width: 100%;
}

.container .table table tr td:nth-child(4) {
  padding: 0 40px;
}

.container .table table tr td:nth-child(5) {
  width: 50px;
  padding: 8px;
}

.container .table table tr td:nth-child(5) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}